

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  align-items: flex-start;
  width: 50%;
  margin: 10em auto;
  padding: 2em;
}

.question {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.codeQ {
  padding-left: 0.5em;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  padding: 0;

}

.answers button {
  padding: 0.8em 0.8em 0.8em 0;
  margin: 0.5em;
  box-shadow: 59px -3px 50px rgba(0, 0, 0, 0.2);
}

.answers button:first-child::before {
  content: "A";
  font-size: 1.1em;
}

.answers button:last-child::before {
  content: "B";
  font-size: 1.1em;
}

button::before {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 0.8em 1.2em;
  margin-right: 0.5em;
}

button:hover {
  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 0.5em;
}

button:before:hover,
button:before:active{
  border-radius: 0.5em;
}

.toggled {
  background-color: lightblue;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5em;
}


#btnSubmit {
  padding: 0.8em 1.2em;
  border: 0.2em solid blue;
  border-radius: 0.5em;
  color: blue;
  text-decoration: none;
  align-self: flex-end;
}

#btnSubmit:active,
#btnSubmit:focus,
#btnSubmit:hover {
  background: wheat;
  color: blue;
}

.success {
  background: white;
  color: green;
  border: 0.3em solid green;
}

.error {
  background: white;
  color: red;
  border: 0.3em solid red;
}
